a:link, a:visited {
    /* color: white; */
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* a:hover, a:active {
    background-color: red;
} */

#home{
    background: #e6c6ad url(/images/dog/dog.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 700px;
    max-width:1600px;
    min-width:500px
}

.backTextLeft{
    position:relative;
    z-index: -1;
    width: 500px;
    top: 200px;
}
.backTextRight{
    position:relative;
    z-index: -1;
    width: 500px;
    bottom: 200px;
    Left: 1010px;
}
.backTextWallpaper{
    position:absolute;
    z-index: -10;
    width: 600px;
    top: 200px;
    Left: 100px;
}
.backTextWallpaper2{
    position:absolute;
    z-index: -1;
    top: 980px;
    Left: 100px;
}
.containerbackgroundLeft {  
    margin: 1rem;
    -webkit-text-stroke: 1px black; /* width and color */
    font-family: Arial Black; color: #fff;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
}
.containerbackgroundRight {
    margin: 1rem;
    -webkit-text-stroke: 1px black; /* width and color */
    font-family: Arial Black; color: #fff;
    transform: rotate(-350deg);
    -webkit-transform: rotate(-330deg);
}
.containerWallpaper {  
    margin: 1rem;
    font-family: Arial Black; color: #e91e63;
    transform: rotate(400deg);
    -webkit-transform: rotate(400deg);
}

h1::before {  
    transform: scaleX(0.5) scaleY(0);
    transform-origin: center right;
}

h1:hover::before {
    transform: scaleX(0.9) scaleY(0.4);
    transform-origin: center left;
}

h1::before {
    content: "                   ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    text-shadow: 1px 1px 2px #000;
    background: #47daff;
    z-index: -1;
    transition: transform .3s ease;
}

@media (orientation: landscape) {
    body {
        grid-auto-flow: column;
    }
}

.divDeco{
    display: grid;
    place-items: center;
    border: 1px solid;
    padding: 1rem;
    cursor:pointer;
    background-color: #77bfd04f;
    z-index:500;
}

.h1Deco{
    -webkit-text-stroke: 1px black; /* width and color */
    font-family: sans; color: #f5f9f9;
    text-shadow: 2px 2px 2px #000;
}
